# ============================
# 依赖
# ============================
node_modules/
.pnp
.pnp.js

# ============================
# 构建输出
# ============================
dist/
dist-srv/

# ============================
# 日志
# ============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ============================
# 本地环境配置（**不上传**）
# ============================
.env.local
.env.*.local

# ============================
# IDE
# ============================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# ============================
# 上传文件（运行时生成）
# ============================
uploads/
